{% extends 'base.html'%}
{%block style %}

    .header{
                background-color:var(--gunmetal);
    }
    .section-text{
                margin-bottom: 10px;

}
{% endblock %}
{%block content%}




  <section class="gallery" id="gallery">
        <div class="container">
          <br>
          <br>
          <h2 class="h2 section-title">About Us</h2>

          <h3 class="section-text">
            Welcome to Transcend America, your gateway to new opportunities in the USA! We are dedicated to helping individuals from third-world countries realize their dreams of working and studying in the United States.
            At Transcend America, we understand the challenges and complexities of navigating the immigration process. That's why we offer comprehensive services to assist you every step of the way.
          </h3>
          <h2 class="h2 section-title">Our Mission</h2>

          <p class="section-text">
            Our mission is to empower individuals with the knowledge and resources they need to achieve their goals in the USA. Whether you're seeking employment opportunities or pursuing higher education, we're here to support you in making your aspirations a reality.
          </p>

        </div>
      </section>


     <section class="cta" id="contact">
        <div class="container">

          <div class="cta-content">
            <p class="section-subtitle">Why Choose Us</p>

            <h2 class="h2 section-title">Choosing Transcend America means choosing excellence, reliability, and dedication. Here's why you should partner with us:</h2>
            <ul>
          <li class="section-text"><h3>Experience:</h3> With years of experience in immigration and education consulting, we have the knowledge and expertise to help you succeed.</li>
          <li class="section-text"><h3>Personalized Service:</h3> We understand that every individual's situation is unique. That's why we provide personalized attention and tailored solutions to meet your specific needs.</li>
          <li class="section-text"><h3>Commitment to Success:</h3> Your success is our top priority. We are committed to going above and beyond to ensure that you achieve your goals in the USA.</li>
        </ul>
            <h3 class="section-text">
              Explore the world through the lens of our travelers. Ready to start your journey? Schedule a free consultation now!
            </h3>
          </div>

          <button class="btn btn-secondary">Schedule Now!</button>

        </div>
      </section>

{% endblock %}