
  <!--
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="{{url_for('main')}}" class="logo">
            <img src="{{url_for('static', filename='./assets/images/logo-white.svg')}}" alt="logo">
          </a>

          <p class="footer-text">
             Connect with us for personalized assistance and travel advice. Our team is here to help you make your journey unforgettable!
          </p>

        </div>

        <div class="footer-contact">

          <h4 class="contact-title">Contact Us</h4>

          <p class="contact-text">
            Feel free to contact and reach us !!
          </p>

          <ul>
            <li class="contact-item">
              <ion-icon name="logo-whatsapp" ></ion-icon>

              <a href="https://wa.me/+12057237407?text=Hi%20there!%20I'm%20interested%20in%20learning%20more%20about%20your%20services.%20Can%20you%20provide%20some%20information%20please" target=”_blank” class="contact-link">+1 (205) 7237 407</a>
            </li>

            <li class="contact-item">
              <ion-icon name="call-outline"></ion-icon>

              <a href="tel:+01123456790" class="contact-link">+01 (123) 4567 90</a>
            </li>

            <li class="contact-item">
              <ion-icon name="mail-outline"></ion-icon>

              <a href="mailto:info@transcendamerica.com" class="contact-link">info@transcendamerica.com</a>
            </li>

            <li class="contact-item">
              <ion-icon name="location-outline"></ion-icon>

              <address>3146 Koontz, California</address>
            </li>

          </ul>

        </div>

        <div class="footer-form">

          <p class="form-text">
            Subscribe our newsletter for more update & news !!
          </p>

          <form action="" class="form-wrapper">
            <input type="email" name="email" class="input-field" placeholder="Enter Your Email" required>

            <button type="submit" class="btn btn-secondary">Subscribe</button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2017 <a href="">TranscendAmerica</a>. All rights reserved
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Term & Condition</a>
          </li>

<!--          <li>-->
<!--            <a href="#" class="footer-bottom-link">FAQ</a>-->
<!--          </li>-->

        </ul>

      </div>
    </div>

  </footer>
